<div flex layout="column" class="container">
  <div flex-xs="100" layout="row" layout-xs="column" layout-align="start" layout-align-xs="start center" style="margin-bottom: 2rem;">
    <div flex="35" layout="column" layout-align="start" layout-align-xs="center center">
      <md-list>
        <md-list-item>
          <div style=""><span class="md-title">Status</span>
            <p class="md-caption">{{ status }}</p>
        <span ng-if="!statusCurrent">
          <span class="md-caption">{{ mostRecentDownload.state+":  " }}</span><a class="md-caption"
                                                                                 href="{{ mostRecentDownload.link }}">{{ mostRecentDownload.releaseDate | date:short }}</a>
        </span>
          </div>
        </md-list-item>
      </md-list>
      <div ng-controller="ConfirmationController" flex flex-xs="100" layout="column" style="margin: .8rem; border: none;"
           class="">
        <div layout layout-align="start">
          <div layout="column">
            <span class="md-subhead title">Confirm Update</span>
            <div flex-xs="100" layout="column" layout-align="center center"
                 style="background-color: rgba(178, 178, 200, 0.36);" class="md-padding" md-whiteframe="2">
              <div ng-if="msgStatus == 0">
                <form layout="column" name="confirmationForm" ng-submit="confirm(update.id)">
                  <md-input-container>
                    <label>Release Date</label>
                    <md-select ng-model="update.id" required>
                      <md-option ng-repeat="d in updates" value="{{d.id}}">{{d.state+" "}}{{d.releaseDate | date:short}}
                      </md-option>
                    </md-select>
                  </md-input-container>
                  <div layout layout-align="center start" style="margin: 1rem;">
                    <md-button class="md-raised md-primary" type="submit" ng-disabled="confirmationForm.$invalid"
                               style="color:white; width: 200px; height:40px">Submit
                    </md-button>
                  </div>
                </form>
              </div>
              <div ng-if="msgStatus==1">
                <p>{{ confirmation }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div ng-controller="IssueReportController" layout="column" style="margin: .5rem; border: none;">
        <div layout="row" layout-align="start">
          <div flex-xs="100" layout="column" layout-align="center">
            <span class="md-subhead title">Issue Tracker</span>
            <div flex flex-xs="100" layout="column" layout-align="center center" class="md-padding"
                 style="background-color: rgba(178, 178, 200, 0.36); border: none;" md-whiteframe="2">
              <div ng-if="msgStatus == 0" style="margin:1.8rem;">
                <form layout="column" name="reportIssueForm"
                      ng-submit="report(update.releaseDate,update.issue,issue.comments)">
                  <md-input-container style="margin: 1rem 0;">
                    <!--<p class="md-caption" style="color:#950B02"><i>*</i> Please select a reason and version.</p>-->
                    <label>I am unable to...</label>
                    <md-select ng-model="update.issue" required>
                      <md-option ng-repeat="issue in issueType" value="{{issue}}">{{issue}}</md-option>
                    </md-select>
                  </md-input-container>
                  <md-input-container>

                    <label>Release Date</label>
                    <md-select ng-model="update.releaseDate" required>
                      <md-option ng-repeat="d in updates" value="{{d.releaseDate}}">{{d.releaseDate |date:medium}}
                      </md-option>
                    </md-select>
                  </md-input-container>
                  <div layout layout-align="center">
                <textarea flex="100" ng-model="issue.comments" name="comments" id="comments" cols="32" rows="4"
                          style="border-radius: 2%; border: solid thin lightgray;"></textarea>
                  </div>
                  <div layout layout-align="center start" style="margin: 1rem;">
                    <md-button class="md-raised md-primary" type="submit" ng-disabled="reportIssueForm.$invalid"
                               style="color:white; width:200px; height:40px; margin: 1rem;">Submit
                    </md-button>
                  </div>
                </form>
              </div>
              <div ng-if="msgStatus==1">
                <p>{{ confirmation }}</p>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div> <!--End of section -->
    <div flex="65" hide-xs layout="column" layout-align="start" style="border:solid thin #eeeeee; background-color:rgba(233, 233, 233, 0.2);">

      <div flex="55">
        <div layout="column">
          <div layout style="border: solid thin whitesmoke">
            <div flex>
              <div flex layout="column">
                <canvas ng-if="chart=='company-wide'" id="base" class="chart-horizontal-bar"
                        chart-legend="true" chart-data="data" chart-labels="labels">
                </canvas>

                <div flex="80" layout="row" class="md-padding">
                  <div class="md-padding" style="width:100%;">
                    <!--<a href="#">Texas Groups</a>-->
                    <canvas  id="base2" class="chart chart-bar"
                            chart-legend="true" chart-data="TXGroupData" chart-labels="TXGroupLabels">
                    </canvas>
                  </div>
                  <div>
                    <!--<a href="#">Kentucky Groups</a>-->
                    <canvas  id="base2" class="chart chart-bar"
                            chart-legend="true" chart-data="TXGroupData" chart-labels="TXGroupLabels">
                    </canvas>
                  </div>
                  <div>
                    <!--<a href="#">Mississippi Groups</a>-->
                    <canvas  id="base2" class="chart chart-bar"
                            chart-legend="true" chart-data="TXGroupData" chart-labels="TXGroupLabels">
                    </canvas>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div><!--End of section-->
    <div layout="column" layout-align="start end" style="border: none;">

    </div><!--End of section -->
  </div>
  <md-divider></md-divider>
  <div style="margin:1rem;">
    <div flex="95">
      <div>
        <div layout layout-align="space-between start">
          <!--<form name="qselector">
            <md-input>
              <input type="text" id="q-input" ng-model="searchCriteria" placeholder="filter by name, state, group"/>
            </md-input>
          </form>-->
          <div layout layout-align="center center">
            <span class="md-subhead" style="margin-right:.8rem;">Filter By State</span>
            <md-select ng-model="searchCriteria" aria-label="states">
              <md-option ng-repeat="state in states" value="{{ state }}" >{{ state }}</md-option>
            </md-select>
          </div>
          <div layout layout-align="center center">
            <span class="md-subhead" style="margin-right:.8rem;">Filter By Group</span>
            <md-select ng-model="searchCriteria" aria-label="groups">
              <md-option ng-repeat="group in groups" value="{{ group }}" >{{ group }}</md-option>
            </md-select>
          </div>

          <div><a href="#" class="" style="margin: 1rem;">Send Reminder</a></div>
        </div>
        {{ emailChain }}
        <md-tabs md-dynamic-height md-border-bottom>
          <md-tab label="Confirmed">
            <md-content>
              <table flex>
                <thead flex>

                  <th class="md-subhead">Name</th>
                  <th class="md-subhead">State</th>
                  <th class="md-subhead">Group</th>
                </thead>

                <tr ng-repeat="e in employeesWithConfirmations | orderBy: 'lname' | filter:searchCriteria">

                  <td class="md-caption"> {{ e.lname}}, {{e.fname}}</td>
                  <td class="md-caption">{{ e.state }}</td>
                  <td class="md-caption">{{ e.group }}</td>

                </tr>
              </table>

            </md-content>
          </md-tab>
          <md-tab label="Unconfirmed">
            <div style="overflow: auto; max-height: 200px">
              <table>
                <thead fix-head>
                <tr>
                  <th class="md-subhead">Name</th>
                  <th class="md-subhead">State</th>
                  <th class="md-subhead">Group</th>
                  <th class="md-subhead">Reminder</th>
                </tr>
                </thead>
                <tbody flex>
                <tr ng-repeat="e in employeesWithoutConfirmations | orderBy: 'lname' | filter:searchCriteria">

                  <td class="md-caption"> {{ e.lname}}, {{e.fname}}</td>
                  <td class="md-caption">{{ e.state }}</td>
                  <td class="md-caption">{{ e.group }}</td>
                  <td><a href="#" class="md-caption">Send</a></td>
                </tr>
                </tbody>
              </table>
            </div>
          </md-tab>
        </md-tabs>

      </div>

    </div>
  </div>
</div>
