/*
  Allow angular.js to be loaded in body, hiding cloaked elements until
  templates compile.  The !important is important given that there may be
  other selectors that are more specific or come later and might alter display.
 */
[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}
#logo {
  background-image: url(../hc-logo.png);
}
md-header {
  max-height: 120px!important;
}
html { overflow:hidden; }

.md-button[disabled] {
  background-color: #d2d2d2!important;
}
.md-primary {
  background-color:#34495E!important;
}

h1 {
  font-family: 'Lora', sans-serif;
}
h2,h3,h4,h5,h6,p,span {
  font-family: 'Ubuntu','Source Sans Pro', sans-serif;
}

.md-subhead {
  font-family: 'Source Sans Pro', sans-serif;
}

body {
  font-family: 'Ubuntu', sans-serif!important;
  background-color: white;
  height:100%;
  overflow:auto;

}
.md-button {border-bottom: thin solid transparent;}
.md-button:hover {
  border-bottom: thin solid #d9d9d9;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  font-size: 12px;
  height: 54px;
  border-top: solid thin #c3d9ec;
  color: #999;
  background-color: #DDDDDD;
}

.template_footer button{
  background-color: transparent; border: none;
  color:#999;
}
.template_footer button:hover{
  background-color: transparent; border: none;
  color:#0F6AB4;
}

table {
  border: thin solid lightgray;
  padding: 0rem;
  border-collapse: collapse;
}

td{
  padding: 1rem .5rem;
  margin-left: .5rem;
  width:100vw;
}
tr {
  border-bottom: solid thin lightgray;
}
tbody tr:hover {
  background-color: rgba(173, 216, 230, 0.13);
}

/*tbody tr:nth-child(even) {
  background-color: #e6e6e6;
}*/
thead th {
  text-align:left;
}
.warning {
  background-color: goldenrod;
  /*border: solid thin #ccc;
  border-radius: 3px;*/
}
.info {
  background-color: #dfecf3;
  /*border: solid thin #ccc;*/
  /*border-radius: 3px;*/

}
.title {

  background-color: #0F6AB4;
  color: white;
  margin-bottom: 0;
  padding: .5rem;
}

/*table.clone thead tr:last-child th {
  border-bottom: 1px rgba(0, 0, 0, 0.12) solid;
}*/

table.clone + md-table-container table tbody tr:first-child td {
  border: none;
}

#q-input {
  padding: .5rem;
  border: solid thin lightgrey;
  border-radius:2%;
  margin: 1rem;
}


