/***********************Global Styles*************************/

[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}
.logo {
  /*background-image: url(../hc-logo.png);*/
 width: 112px;
}
.md-header {
  max-height: 120px!important;
}
a:active{
  color: darkgoldenrod;
}
.md-button[disabled] {
  background-color: #d2d2d2!important;
}
.md-raised {
  background-color:#34495E!important;
}
h1 {
  font-family: 'Lora', sans-serif;
}
h2,h3,h4,h5,h6,p,span {
  font-family: 'Ubuntu','Source Sans Pro', sans-serif;
}
.md-subhead {
  font-family: 'Source Sans Pro', sans-serif;
}
body {
  font-family: 'Ubuntu', sans-serif!important;
  background-color: white;
  height:100%;
  overflow:auto;

}
.md-button {border-bottom: thin solid transparent;}
.md-button:hover {
  border-bottom: thin solid #d9d9d9;
}
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  font-size: 12px;
  height: 54px;
  border-top: solid thin #c3d9ec;
  color: #999;
  background-color: #DDDDDD;
}
.template_footer button{
  background-color: transparent; border: none;
  color:#999;
}
.template_footer button:hover{
  background-color: transparent; border: none;
  color:#0F6AB4;
}
table {
  border: thin solid lightgray;
  border-collapse: collapse;
  empty-cells: show;
}

tr {
  border-bottom: solid thin lightgray;
}
tbody tr:hover {
  background-color: rgba(173, 216, 230, 0.13);
}

.title {

  background-color: #0F6AB4;
  color: white;
  margin-bottom: 0;
  padding: .5rem;
}
table.clone + md-table-container table tbody tr:first-child td {
  border: none;
}
#q-input {
  padding: .5rem;
  border: solid thin lightgrey;
  border-radius:2%;
  margin: 1rem;
}
.card {
  background-color: white;
}
.chart-link{
  border:solid thin lightsteelblue;
  border-radius: 8px;
  background-color: #e2e2e2;
  color: #0F6AB4;
  padding:.3rem .5rem;
  text-decoration: none;
}
.chart-link:hover {
  color: darkgoldenrod;
}
.selected {
  background-color: #00b3ee;
}
a::selection {
  background-color: #00b3ee;
}
.menu-icon {
  cursor: hand;
  text-decoration: none;
  color:lightgray;
}

#bottom-container {
  min-height: 600px;
}
#bottom-container a {
  text-decoration: none;
  color: #0F6AB4;
}
#results-title {
  background-color: #0f6ab4
}
#results-title span {
  color:white;
}
#filter-bar {
  background-color: palegoldenrod;
  border:grey;
}

#filter-bar span {
  margin-right:.8rem;
}

#unconfirmed-contianer {
  overflow: auto;
  max-height: 400px
}
#download-button {
  background-color:rgb(127,186,0);
  border:solid thin #d2d2d2;
  border-radius:5px;
  color: #fff;
  width: 220px;
  padding:.5rem;
}
#download-button:hover {
  background-color: rgb(161, 226, 0);
}


/*********************************************************************/
                   /*X-Large Screens*/
@media only screen and (min-width:1920px){
  #unconfirmed-contianer {
    overflow: auto;
    max-height: 400px
  }


}
/*********************************************************************/
/*********************************************************************/
                 /*Large Screens*/
@media only screen and (min-width:1280px){
#chart-container{
  min-height: 74vh;
  margin-top: 2rem;
  border:solid thin #eeeeee;
  background-color: rgba(226, 226, 226, 0.89);
}
  #container-two {
    margin-top:2rem;
    margin-left: .8rem;

  }
  #top-container {
    min-height:60vh;

  }
  #confirmation-box {
    border:solid medium lightgray;
    background-color: transparent;
    padding: .8rem .4rem;
    margin-bottom: .8rem;

  }
  thead th {
    text-align:left;
    min-width:15rem;
  }
  td {
    padding: 1rem .5rem;
    margin-left: .5rem;
    width:100vw;

  }
  #issue-form-background {
    border: solid thin;
    border-color: rgba(52, 73, 94, 0.26);
    background-color: whitesmoke;
    min-height:280px;
  }
  #issue-tracker-form {
    margin:1.8rem;

  }
  #issue-tracker-form md-input-container {
    margin: 1rem 0;
  }
  textarea {
    border-radius: 2%;
    border: solid thin lightgray;
  }
  #issue-tracker-button-container {
    margin: 1rem;
  }
  #issue-tracker-button {
    color:white;
    width:280px;
    height:40px;
    margin: 1rem
  }
  #unconfirmed-contianer {
    overflow: auto;
    max-height: 400px
  }
}

/*********************************************************************/
/*********************************************************************/
                /*Medium Screens*/
@media only screen and (min-width:960px) and (max-width:1279px){
  #confirmation-box {
    border:solid medium lightgray;
    background-color: transparent;
    padding: .8rem .4rem;
    margin-bottom: .8rem;

  }
  td {
    padding: 1rem .5rem;
    margin-left: .5rem;
    width:100vw;
  }
  #unconfirmed-contianer {
    overflow: auto;
    max-height: 400px
  }
  #issue-form-background {
    background-color: whitesmoke;
  }
  #issue-tracker-form {
    margin:1.8rem;
  }
  #issue-tracker-form md-input-container {
    margin: 1rem 0;
  }
  textarea {
    border-radius: 2%;
    border: solid thin lightgray;
  }
  #issue-tracker-button-container {
    margin: 1rem;
  }
  #issue-tracker-button {
    color:white;
    width:200px;
    height:40px;
    margin: 1rem
  }
}

/*********************************************************************/
/*********************************************************************/
                   /*Small Screens*/
@media only screen and (min-width:600px) and (max-width:959px){

  html { overflow:hidden;}
  #container-two {
    width: 100vw;
  }
  #container-two {
    width: 98vw;
    maring-bottom:1rem;
  }
  #chart-container {
    border: none;
    width:100vw;
  }
  #confirmation-box {
    background-color: white;
    padding-bottom: .8rem;
    border-bottom: solid thin lightgrey;
    width:95vw;
    margin: 1rem 0;
  }
  td {
    padding: 1rem .5rem;
    margin-left: .5rem;
    width:80vw;
  }
 th {
  padding: 1rem .5rem;
  margin-left: .5rem;
}
  #unconfirmed-contianer {
    overflow: auto;
    max-height: 400px
  }

}

/*********************************************************************/
/*********************************************************************/
                  /*XSmall Screens*/
@media only screen and (max-width:599px){
  html { overflow:hidden;}
  #container-two {
    width: 100vw;
  }
  #container-two {
    width: 98vw;
    min-height: 30vh;
    margin-bottom:1rem;

  }
  #logo-container {
    width:100vw;

  }
  #chart-container {
    border: none;
    width:100vw;
  }
  #confirmation-box {
    background-color: #E2E2E2;
    padding: .8rem;
    border-bottom: solid thin lightgrey;
    width:95vw;
    margin: 1rem 0;
  }
  td {
    padding: 1rem .5rem;
    margin-left: .5rem;
    width:80vw;
  }
  th {
    padding: 1rem .5rem;
    margin-left: .5rem;
  }
  #unconfirmed-contianer {
    overflow: auto;
    max-height: 400px
  }
  #sm-state-list {
    min-height: 200px;
  }

}

/*********************************************************************/
