<div layout="column" class="md-padding"
     style="margin-top: 8rem; background-color: whitesmoke; border: solid thin whitesmoke; border-radius: 5px;">
  <div layout layout-align="center">
    <h3>FSV42 Update</h3>
  </div>

  <div ng-if="msgStatus == 0">
    <form name="confirmationForm" ng-submit="confirm()">
      <md-input-container style="margin: 20px 10px 40px 10px;">
        <span class="md-subhead">* <i>Required</i></span>
        <label>Update version:</label>
        <md-select ng-model="update.version" required>
          <md-option ng-repeat="ver in updateVer" value="{{ver}}">{{ver}}</md-option>
        </md-select>
      </md-input-container>
      <div>
        <md-button class="md-raised md-primary" type="submit" ng-disabled="confirmationForm.$invalid" style="color:white; width: 330px; height:45px">Confirm Installation</md-button>
      </div>
    </form>
  </div>
  <div ng-if="msgStatus==1">
    <p>{{ confirmation }}</p>
  </div>

  <div layout="column" layout-align="center center" device-detector>
    <p id="demo">Getting location...</p>
        <p>Operating System: {{ data.os_version }}</p>
  </div>




</div>
