<div flex>
  <div layout="column" layout-align="center center" style="margin-top: 2rem;">
    <h3 class="md-title">Downloads</h3>

    <div layout layout-align="center center"><p class="md-subhead" style="margin:1rem;">Select your state</p>
      <md-select ng-model="update.state" ng-change="updateByState(update.state)">
        <md-option ng-repeat="state in states" value="{{ state }}">
          {{ state }}
        </md-option>
      </md-select>
    </div>


    <div ng-repeat="update in updates | orderBy: releaseDate">
      <a href="{{ update.link }}">{{ update.releaseDate }}</a>
    </div>

  </div>

</div>








