<div layout="column" class="md-padding" style="margin-top: 8rem; background-color: rgb(211, 217, 221); border: solid thin whitesmoke; border-radius: 5px;">
  <div layout layout-align="center">
    <h1>FSV42 Update</h1>
  </div>
  <div layout="column" layout-align="center center">
    <h3>Your PC</h3>
    <div ng-repeat="(key,val) in os">
      <div>{{ key +":"+ " "+ val }}</div>
    </div>
  </div>
  <div layout layout-align="center center" class="md-padding" ">
    <h3 class="md-headline">{{confirmation}}</h3>
  </div>
</div>
