<div flex layout layout-align="center center">
  <div flex layout layout-align="center center">
    <div><h3 layout layout-align="center center" class="md-headline" style="color: indianred"><i class="material-icons" style="font-size:44px;">error</i>Error: This update could not be installed due to an installation error.</h3>
      <p layout layout-align="center center" class="md-body-1">Please log-in &nbsp; <a ui-sref="login"><strong>here</strong></a> &nbsp; and submit this issue using the issue tracker.
  </div>
</div>
  </div>
