<div flex layout layout-align="center center">
  <div flex layout layout-align="center center">

    <div><h3 layout layout-align="center center" class="md-headline" style="color: green"><i class="material-icons" style="font-size:44px;">verified_user</i>Congratulations! This update installed successfully.</h3>
    <p layout layout-align="center center" class="md-body-1">Please log-in &nbsp; <a ui-sref="login"><strong>here</strong></a> &nbsp; and confirm this successful installation.</p>
    </div>
  </div>
</div>
